.title{
    text-align: center;
    font-size: 30px;
    font-weight:normal;
    font-style:italic;
    padding-top: 20px;
    margin-bottom: 50px;
    font-family: 'Ubuntu', sans-serif;
  }
.image{

  background-image: url("https://images.almundo.com/205/image/fetch/fl_progressive,w_1440,h_344,q_auto,c_fill,g_auto,f_jpg/https://almundo-com-res.cloudinary.com/image/upload/v1628924051/Landing/ARGENTINA/Home/Ago%202021%20-%20Previaje/header-caja-de-busqueda-VUELOS.png");

 
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment:fixed;
  padding-bottom: 50px;
}
  @media only screen and (max-width: 480px) {
    .title{
      font-size: 25px;
      padding-top: 20px;
            margin-bottom: 40px;
    }
  
  }
  